.resources-dropdown{
    height: 380px;
    background-color: rgb(3, 3, 3);
    display: flex;
    color: white;
    z-index: 1;
    width: 60%;
    margin: auto;
    padding: 20px 40px;
    position: absolute;
    z-index: 1;
    margin-left: 20%;
}
/* hedaing (heda is a gali in our lang i know spelling) */
.heading-lists{
    font-size: 13px;
    font-weight: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(121, 121, 121, 0.804);
}
.resources-div-1{

    font-weight: bolder;
    font-size: large;
    width: 26%;
    text-align: left;
}
.resources-div-2{
    width: 74%;
    /* border: 2px solid greenyellow; */
    display: flex;

}
.r-hedarput{
   padding-left:  100px;
}
.resources-up-nav-list{

    font-weight: bolder;
    font-size: large;
    width: 40%;
    height: 100%;
    text-align: left;
    margin-left: 30px;
    /* border: 2px solid blue; */
}
.rs-btn{
    height: 60px;
    width: 130px;
    border-radius: 2px;
    font-weight: bolder;
    background-color: rgb(226, 57, 94);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.poster-nav-resources{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 100px;
   background-color: rgba(31, 31, 31, 0.804);
}
.h1{
    font-size: 20px;
}

.resources-up-nav-list ul li{
    padding-bottom: 5px;
    padding-top: 5px;
    transition: all 0.3s ease;
    margin-left: 10px;
    list-style: none;
    font-size: 16px;
}
.resources-row-div{
    width: 74%;
}
.resources-row-div h3{
    text-align: left;
    padding:  7px 20px;
}
.resources-up-nav-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 8px;
    height: 80%;
    
}
.resources-box{
    border: 2px solid rgb(5, 5, 5);
}
.resources-down-nav{
    height: 20%;


}



.div-1 > ul > li{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: all 0.3s ease;
    list-style: none;
}

.true{
    display: block;
    
}
.false{
    display: none;
}